html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 980px;
  margin: auto;
  padding: 0 1rem;
}

header,
footer {
  padding: 1rem;
  background: #eee;
}
